.slide-card.on-add {
    transform: translateY(0%);
}

.slide-card.on {
    transform: translateY(-100%);
}

.collection-item.ng-move,
.collection-item.ng-enter,
.collection-item.ng-leave {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.collection-item.ng-leave.ng-leave-active,
.collection-item.ng-move,
.collection-item.ng-enter {
    background: #BBB;
    opacity: 0;
    height: 0;
    max-height: 0
}

.collection-item.ng-leave,
.collection-item.ng-move.ng-move-active,
.collection-item.ng-enter.ng-enter-active {
    background: #FFFFFF;
    opacity: 1;
    height: 100%;
    max-height: 100%;
}