<!-- partial-home.html -->

<div class="jumbotron text-center">
    <h3>Home</h3>
    <p>Welcome to gm.io.</p>
    <p>{{home.items?"Files:":"No Files."}}</p>
    <ul>
        <li ng-repeat="item in home.items">{{item.title}}</li>
    </ul>
    <!--
    <a ui-sref=".list" class="btn">List</a>
    <a ui-sref=".paragraph" class="btn">Paragraph</a>
-->
    <a ng-click="home.saveTest()" class="btn">Save Test</a>
    <div model-edit id="t" title="Test the Model Editor" model="home.testModel" array-hints="home.names">
        <a class="btn">Edit Model</a>
    </div>
    {{home.testModel}}
</div>

<!--<div ui-view></div>-->