<div class="jumbotron text-center">
    <h3>Rule Sets</h3>
    <p>Different Rule Sets for different kinds of Games</p>
    <p>Example, DnD 5e, Pathfinder, Star Wars Force and Destiny Etc.</p>

    <ul class="collection">
        <li class="collection-item avatar">
            <i class="material-icons circle red">play_arrow</i>
            <span class="title">Title</span>
            <p>First Line
                <br> Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
    </ul>
</div>