<div class="grid" ng-init="archq = 'helloderr'">
    <div class="grid__row z-depth-1">
        <div class="grid__item" style="flex:2">
            <h4>Archetypes</h4></div>
        <div class="grid__item " style="align-self: center;">
            <button class="btn skinnybtn" style="width: 100%;" ng-click="views = ['new', 'one']">New Archetype</button>
        </div>
        <div class="grid__item " style="align-self: center;">
            <button class="btn skinnybtn" style="width: 100%;" ng-click="views = ['many', 'one']">See All</button>
        </div>
        <div class="grid__item" style="flex:4">
        </div>
    </div>
</div>
<div class="grid">
    <div class="grid__row">
        <div class="grid__item" ng-if="!views">
            Please select an option
        </div>
        <div class="grid__item" ng-repeat="view in views">
            <div ui-view="{{view}}"></div>
        </div>

    </div>
</div>
<pre>{{archMain.currentEntity|json}}</pre>